#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ArticleList{
  margin-left: 20%;
  margin-right: 20%;

}

.ArticleCard{
  border: 1px solid black;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.4fr;
  grid-gap: 40px;
  grid-template-rows: auto;
  grid-template-areas: "ArticleCardText ArticleCardImage ArticleCardButton";
  margin: 5px;
}

ol{
  list-style-type: none;
  margin-left: -40px;
}

.ArticleCard img{
  height: 20vh;
  width: auto;
}

.ArticleCardLink{
  border-radius: 500px;
  border: 1px solid transparent;
  height: 48px;
  position: relative;
  top: 30%;
}

.ListQueries{
  border: 1px solid blue;
  padding: 15px;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-evenly;
}

.UserProfile{
  margin-left: 10%;
  margin-right: 10%;
  text-align: right;
  padding-right: 20px;
  text-align: center;
}

.singleArticleImage{
  border-radius: 30px;
}

.commentCard{
  border: 1px solid black;
  padding: 30px;
  border-radius: 30px;
  margin: 30px;
}

.commentCard:hover {
  background-color: rgb(52, 52, 50);
  color: white;
}

.commentComponent{
  border: 1px solid black;
  padding-bottom: 30px;
  border-radius: 30px;
  margin: 30px;
}

.votingComponent{
  padding: 5px;
  border-radius: 30px;
  margin: 20px;
}

.votingButton{
  padding: 8px;
  margin: 10px;
  background-color: white;
}

.SortingNavBar{
  padding: 2px;
  border-radius: 30px;
  margin: 50px;
}

.topicsNav{
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  text-decoration: none;
  margin: 10px;
}

.topicsNav:hover {
  background-color: rgb(52, 52, 50);
  color: white;
}

.mainNavBar{
  border: 1px solid black;
  padding: 10px;
  border-radius: 30px;
  margin: 30px;
  box-shadow: 47px 45px 73px 0px rgba(0,0,0,0.1);

}

.mainNavButtons{
  padding: 10px;
  text-decoration: none;
  margin: 10px;
  color: black;
}

.mainNavButtons:hover {
  background-color: rgb(52, 52, 50);
  color: white;
}

.orderButton{
  padding: 10px;
  margin: 10px;
  color: black;
  border-radius: 30px;
  background-color: white;
  border: 1px solid black;
}

.orderButton:hover {
  background-color: rgb(52, 52, 50);
  color: white;
}

.ArticleCardImage{
  border-radius: 30px;
}

.ArticleCardLink{
  text-decoration: none;
  color: black;
}
